/**
*
* IMPOSTAZIONI COLORI
*
*/

$green: #497940;
$green-light: #61A155;
$gray: #6E6E6E;
$yellow-dark: #EEB11B;
$yellow: #FFC22D;
$yellow-light: #FAE2B7;
$white: #FFFFFF;
$gray-light: #CDCDCD;
$black: #303030;
$red: #FF0000;
$blue:#325590;
$blue-light:#326fbd;
