/**
*
* IMPOSTAZIONI FONT
*
*/

$h1: 5.8rem;
$h2: 4.8rem;
$h3: 3.5rem;
$h4: 2rem;

strong,
b {
  font-weight: 900;
}

p {
  font-size: 1.8em !important;
  line-height: 2.8rem;
  margin-bottom: 1.6rem;
}

h1,
.text-1 {
  font-size: $h1;
  font-weight: 900;
  margin-bottom: 20px;
  letter-spacing: -0.2rem;
  line-height: 5.8rem;
  text-transform: uppercase;
}

h2,
.text-2 {
  font-size: $h2;
  font-weight: 900;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h3,
.text-3 {
  font-size: $h3 !important;
  font-weight: 900;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h4,
.text-4 {
  font-size: $h4 !important;
  font-weight: 900;
  margin-bottom: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.font-bold {
  font-weight: 900;
}
.text-thin{
  font-size: 1.4rem!important;
  line-height: 2rem!important;
}