/**
*
* IMPOSTAZIONI FONT
*
*/

$h1: 5rem;
$h2: 3.6rem;
$h3: 2.8rem;
$h4: 1.9rem;

$h1Mobile: 3.6rem;
$h2Mobile: 3rem;
$h3Mobile: 2rem;
$h4Mobile: 1.6rem;

strong,
b {
  font-weight: 900;
}

p {
  font-size: 1.8em !important;
  line-height: 2.8rem;
  margin-bottom: 1.6rem;
}

h1,
.text-1 {
  font-size: $h1;
  font-weight: 900;
  margin-bottom: 20px;
  letter-spacing: -0.2rem;
  line-height: 5.8rem;
  text-transform: uppercase;
}

h2,
.text-2 {
  font-size: $h2;
  font-weight: 900;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h3,
.text-3 {
  font-size: $h3 !important;
  font-weight: 900;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

h4,
.text-4 {
  font-size: $h4 !important;
  font-weight: 900;
  margin-bottom: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
}

.font-bold {
  font-weight: 900;
}
.text-thin {
  font-size: 1.4rem !important;
  line-height: 2rem !important;
}
.text-stroke {
  color: white;
  text-shadow: -1px 0 #3c4043, 0 1px #3c4043, 1px 0 #3c4043, 0 -1px #3c4043;
}
@media (max-width: 768px) {
  h1,
  .text-1 {
    font-size: $h1Mobile;
    line-height: 4rem;
  }
  h2,
  .text-2 {
    font-size: $h2Mobile;
    line-height: 3.3rem;
  }
   h3,
  .text-3 {
    font-size: $h3Mobile;
    line-height: 3rem;
  }
}
